<h1>Contact Page</h1>

<p> My contacts: </p>

<a class="face-button" href= 'http://facebook.com.br/facebook'>
  <img src="http://www.aprilholloway.com/wp-content/uploads/2012/10/FacebookButton..png">
</a>
<a class="twitter-button" href= 'http://twitter.com/twitter'>
  <img src="http://www.repairmymoonwalk.com/sitebuilder/images/twitter_button-50x50.png">
</a>
<a class="g-plus-button" href= 'http://https://plus.google.com'>
  <img src="http://clerecsoft.com/wpimages/wp3baaf5e0_1a.png">
</a>
